:root {
  --background: #f2f2f2;
  --foreground: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #dcdcdc;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body.dark p {
  color: #e0e0e0;
}

body.light {
  /* General Background Color */
  background-color: #f8f8f8;
  --background: #f8f8f8;

  /* header on each page*/
  --heading-color: #2c2c2c;
  --link-color: #3a3a3a;
  --link-hover-color: #4c9;
    
  /* Buttons */
  --button-bg: #cfcfcf;
  --button-color: #444;
  --button-text-color: #444;
  --button-hover-bg: #b3b3b3;

  /* Books */
  --booklist-bg: #f9f9f9;
  --card-bg: #f9f9f9;
  --title-color: #444;
  --text-color: #666;
  --description-color: #777;
  --price-color: #3377cc;
  --rating-color: #ffa500;

  /* Authors */
  --item-bg: #f2f2f2;
  --item-text-color: #3e4a5d;
  --item-hover-bg: #dcdcdc;
}

body.dark {
  /* General Background Color */
  background-color: #2a2a2a;
  --background: #2a2a2a;

  /* Header on Each Page*/
  --heading-color: #f1f1f1;
  --link-color: #f1f1f1;
  --link-hover-color: #4c9;

  /* Buttons */
  --button-bg: #555;
  --button-color: #f1f1f1;
  --button-text-color: #f1f1f1;
  --button-hover-bg: #444;

  /* Books */
  --booklist-bg: #2b2b2b;
  --card-bg: #3c3c3c;
  --title-color: #dcdcdc;
  --text-color: #bbb;
  --description-color: #999;
  --price-color: #3377cc;
  --rating-color: #ff9e00;

  /* Authors */
  --item-bg: #3c3c3c;
  --item-text-color: #dcdcdc;
  --item-hover-bg: #444;
}
